<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" parallel="false" verbose="10">
	<parameter name="TDSExcelFile" value="data/3DS.xlsx" />

<test name="3DSMETHODURL Call for Browser AReq flow">
		<parameter name="ExcelSheetVerify" value="BRW_3DSMURL_CALL" />
		<parameter name="ReportTitle" value="3DSAutomationReportOfBrowser" />
		<!-- parameter name="SchemaFile" value="preAreq_schema.json" / -->
		<!-- parameter name="TestCaseID" value="API Name" / -->
		<classes>
			<class name="com.ca.tds.main.PreAReq_TC" />
		</classes>
	</test>
	<test name="AReq API for Browser Test Scenatios">
		<parameter name="ExcelSheetVerify" value="BRW_AREQ" />
		<!-- parameter name="ReportTitle" value="3DSAutomation" / -->
		<parameter name="SchemaFile" value="areq_schema.json" />
		<!-- parameter name="TestCaseID" value="API Name"/ -->
		<classes>
			<class name="com.ca.tds.main.StartAutomationSuite" />
		</classes>
	</test>
	<test name="3DSMETHODURL Call for App AReq flow">
		<parameter name="ExcelSheetVerify" value="APP_3DSMURL_CALL" />
		<parameter name="ReportTitle" value="3DSAutomationReportOfApp" />
		<!-- parameter name="SchemaFile" value="preAreq_schema.json" / -->
		<!-- parameter name="TestCaseID" value="API Name" / -->
		<classes>
			<class name="com.ca.tds.main.PreAReqForApp" />
		</classes>
	</test>
	<test name="AReq API for App Test Scenatios">
		<parameter name="ExcelSheetVerify" value="APP_AREQ" />
		<!-- parameter name="ReportTitle" value="3DSAutomation" / -->
		<parameter name="SchemaFile" value="areq_schema.json" />
		<!-- parameter name="TestCaseID" value="API Name"/ -->
		<classes>
			<class name="com.ca.tds.main.StartAutomationSuiteForApp" />
		</classes>
	</test>
		<test name="3DSMETHODURL Call for 3RI AReq flow">
		<parameter name="ExcelSheetVerify" value="3RI_3DSMURL_CALL" />
		<parameter name="ReportTitle" value="3DSAutomationReportOf3RI" />
		<!-- parameter name="SchemaFile" value="preAreq_schema.json" / -->
		<!-- parameter name="TestCaseID" value="API Name" / -->
		<classes>
			<class name="com.ca.tds.main.PreAReqFor3RI" />
		</classes>
	</test>
	<test name="AReq API for 3RI Test Scenatios">
		<parameter name="ExcelSheetVerify" value="3RI_AREQ" />
		<!-- parameter name="ReportTitle" value="3DSAutomation" / -->
		<parameter name="SchemaFile" value="areq_schema.json" />
		<!-- parameter name="TestCaseID" value="API Name"/ -->
		<classes>
			<class name="com.ca.tds.main.StartAutomationSuiteFor3RI" />
		</classes>
	</test>

	<test name="3DSMETHODURL Call for RReq flow">
		<parameter name="ExcelSheetVerify" value="CRREQ_3DSMURL_CALL" />
		<parameter name="ReportTitle" value="3DSAutomationReportOfBrowser" />
		<classes>
			<class name="com.ca.tds.main.PreAReq_TC" />
		</classes>
	</test>
	<test name="AReq API for Browser Test Scenarios">
		<parameter name="ExcelSheetVerify" value="CRREQ_TESTDATA" />
		<parameter name="SchemaFile" value="areq_schema.json" />
		<classes>
			<class name="com.ca.tds.main.StartAutomationSuite" />
		</classes>
	</test>
	<test name="RReq API for Browser Test Scenarios">
		<parameter name="ExcelSheetVerify" value="RREQ_TESTDATA" />
		<parameter name="SchemaFile" value="rreq_schema.json" />
		<classes>
			<class name="com.ca.tds.main.StartAutomationSuiteForRReq" />
		</classes>
	</test>
	

</suite>